/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background:#478cc9;
    background-image: url(images/sprites.png);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-image: url("../images/bg.jpg");
	background-repeat: repeat-x;
}

#page{
  width:960px;
  margin:0 auto;
  height:200px;
}


#strong-red{
  font-weight:bolder;
  color:red;
  margin-top:400px;
  text-align:justify;
  text-decoration:underline;
  text-transform:uppercase;
  text-indent:30px;
  letter-spacing:5px;
  font-family:cursive;
  font-style:italic;
  font-variant:small-caps;
}

 #styles li{
   list-style-type:circle;
   list-style-position:inside;
   color:#fff;
   border:1px solid #fff;
 }
#navigation{
    height:65px;
    position:relative;
}
#navigation ul li {
  float:left;
}
#navigation ul li a {
    color:#1a00a7;
    padding:0 15px;
    font-family:cursive;
    text-decoration:none;
    line-height:65px;
    display:block;
    height:65px;
}
#navigation ul li a:hover{
    border:1px solid #00ff45;
    background:#0000ff;
    text-decoration:none;
}



#styles li{
    list-style-type:circle;
    color:black;
    font-family:cursive;
    list-style-position:inside;
    list-style:circle;
    border:1px solid black;
    padding:5px;
}
#styles li:hover{
    background:#4ab9f4;
}
#navigation .dropdown{
    position:absolute;
    top:100%;
    width:150px;
    background:#757575;
    display:none;
}
#navigation li:hover .dropdown{
    display:block;
}
#navigation .dropdown li {
    width:100%;
    height:45px;
}
#navigation .dropdown li a{
    line-height:45px;
     height:45px;
}
.logo {
    display:block;
    position:absolute;
    top:0px;
    left:0px;
}

#header {
    height:204px;
    position:relative;
}

.search {
    position:absolute; 
    right:0;
    top:80px;
}
#article{
    width:760px;    
    padding-right:20px; 
    padding-top:20px; 
    float:left;
}
#article p{
    
}



#sidebar{
    padding-top:20px;
    width:200px; 
    float:left;
}
#article p {
    color:#00ff45;
    font-family:cursive; 
}
#sidebar ul li {
    color:#00ff45;
    font-family:cursive; 

}
#content{
    padding-top:20px;
}
#fixed {
    height:50px
    width:50px
    background-image:src(images/tel.jpg)
    font-size:left;
    position:fixed;
    top:0;
    left:0;
}

.psevdo-class {
    color:#ff0000;
}
.psevdo-class:hover{
    color:#0080ff;
}
.psevdo-class:focus{
    color:#d8ff00;
}
#article:hover{
    background:#000000;
}
#article p:first-child{
    color:#ffffff;
}
#article p:last-child{
    color:#7b4141;
}
#article p {
    background:#00e800; 
}
#article > p {
    color:#000000;
}

.pseudo-el::before,
.pseudo-el::after{    
    content:""; 
    display:block; 
    width:100%;
    height:1px;
    background:#00fc4d; 
    margin-bottom:10px; 
    margin-top:10px; 
}
.first-line::first-line {
    font-size:24px; 
    color:#fff;
 }
.selection{
    background:#ecff0a; 
    color:#00ffc4;
}
#article .combinator + p {
   background:#ffa700;    
}
a[target="_blank"] {
    color:#ff0000;
}
a[title="внешняйа"] {
    color:#31ff00;
}
input[type="text"]{
  border:1px solid #ff0000;
    color:#0088ff;
    background:#ffff00; 
}
input[type="button"]{
    border:1px solid #ff0000;
    color:#0088ff;
    background:#ffff00; 
}

.icon{
    display:inline-block;
    height:75px;
    width:75px;
    background-image: url("../images/sprites.png");
}
.icon.icon-car{
    background-position:0 0; 
}
.icon.icon-car:hover{
    background-position:0px -154px; 
}
.icon.icon-check{
    background-position:77px 0; 
}
.icon.icon-check:hover{
    background-position:77px -154px; 
}
.icon.icon-cart{
    background-position:25% 0px; 
}
.icon.icon-cart:hover{
    background-position:25% 66%; 
}
.icon.icon-comments{
    background-position:155px 0; 
}
.icon.icon-comments:hover{
    background-position:155px 66%; 
}
@media print{
    body{
        background:#fff; 
    }
    #navigation{
        display:none;
    }
    .search{
        display:none;
    }
    .styles{
        display:none;
    }
    #article{
        width:100%;
    }
}
@media(min-width:650px) and (max-width:960px){
      
    body{
        background:#fff; 
    }
    #navigation{
        display:none;
    }
    .search{
        display:none;
    }
    .styles{
        display:none;
    }
    #article{
        width:100%;
        padding:0; 
    }
    #content{
        width:100%;
        padding:10px;
    }
 
}































