body{
  background-color:orange;
}
#page{
  width:960px;
  margin:0 auto;
}
#strong-red{
  font-weight:bolder;
  color:#30a7ff;
  margin-top:200px;
  text-align:justify;
  text-decoration:none;
  text-transform:uppercase;
  line-height:30px;
  font-style:italic;
  font-variant:small-caps;
}
 #styles li{
   list-style-type:circle;
   list-style-position:inside;
   color:#fff;
   border:1px solid #fff;
 }
