body {
  color:#262626;
  font:14px/1.5 Arial,Verdana,Tahoma,sans-serif;
  margin:0;
  background-image: url("images/main_bg.jpg");
  background-color: #cccccc;
}

#author {
  border: solid 1px black;
  float:right;
}

p {
  text-indet:35px;
}
ol{
  kist-style-type:;
  ist-style-images:inside;
  ist-style:upper-alpha inside;
}
ul{
  list-style:url(../картинка/yes.png);
}
#header {
  color:#c23636;
  text-align:center;
h2 {
    text-align:center;
}
p span {
  color:#d44a4a;
  text-decoration:underline;
}
h2,h3 {
color:#243f7a
}
.bold-text{
  font-weight:vold;
}
.italic-text{
  font-style:italic;
  font-weifht:bold;
}
tabel{
 width:650px;
 border:1px solid #dddef1;
 border-collapse
 color:#606060;
 margin:0,auto;
}
td,th{
  border:1px solid #dddef1;
  height:50px1;
}
th{
  background-color:#edeeee;
  color:#9c9c9c;
}
.but {
  height: 35px;
  width: 35px;
}
.left-column{
text-align:left;
padding-left:15px;
}
a:link{
color:#6190b8;
}
a:visited{
  color:l#8eb861;
}
a:hover{
  color:;#b86161;
}
a:active{
color:#000000;
}
a:hover{
  text-decoration:none;
}
#box{
  border:2px solid #ccc;
  width:700px;
  height:200px;
  overflow:visible;
}
#box2{
  border:2px solid #ccc;
  min-widht:700px:
  max-widhr:1100px:
}
content{
  width:700px;
  border:1px solid #c4c4c4;
  padding:30px 40px;
  margin:0 auto;
}
