body {
  font: 1em Arial Tahoma;
  text-transform: uppercase;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 30px;
  width: 50px;
  opacity: .5;
}

.nav:hover {
  opacity: 1;
}

.nav li {
  height: 48px;
  width: 47px;
  overflow: hidden;
  transition: width .500s ease-in-out, height .500s ease-in-out .500s;
}

.nav li:hover {
  width: 200px;
  height: 165px;
}

.nav li a {
  display: block;
  width: 200px;
  height: 41px;
  line-height: 40px;
  background-color: #bbb;
  margin: 0px;
  color: #fff;
  padding-left: 15px;
  cursor: pointer;
  transition: background .500s ease-in-out;
}

.nav li a:hover {
  background-color: #2cf5ff;
}

.nav li a::first-letter {
  font-size: 1.1em;
  line-height: 50px;
  height: 50px;
  position: relative;
}

.nav li a:first-letter::before {
  content: "";
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 2px;
}

.setting a:first-child::before {
  content: url(../images/settings.png);
}

.link a:first-child::before {
  content: url(../images/link.png);
}

.main-menu a:first-child::before {
  content: url(../images/home.png);
}

.search a:first-child::before {
  content: url(../images/search_0.png);
}