body{
  font:14px Tahoma;
  color:#333333;
  margin:25px auto;
  padding:15px;
  width:1000px;
  background-color:#f6f6f6;
}
p {
  text-indent:30px;
}
#header{
  text-align:center;
  text-transform:capitalize;
  padding:40px 20px;
  margin:20px auto 10px;
  width:550px;
  background-color:#cc0000;
  color:#ffffff;
  border:1px solid #FAA21A;
}
.new2{
  font-style:italic;
}

.new3{
  font-weight:700;
  text-decoration:line-through;
}
a{
  text-decoration:none;
  border-bottom:3px dotted #c32017;
}
.new4{
 text-align:justify;
 padding: 5px;
}
ul{
  list-style-type:upper-roman;
}
#new6{
  color:#97AD34;
}
#liSuper{
  color:#56AEF3;
}
#liSuper.new3 {
  color:crimson;
}
table td {
  background-color:deepskyblue;
  color:red;
  font-weight: bold;
}
table th {
  background-color: dimgrey;
  color: greenyellow;
  font-weight: bold;
}
