p,h4{
  color:#404040;
}
p{
  font-family:"Courier New";
  font-size:14px;
}
#header{
  background-color:red;
}
.new{
  background-color:#6bc5e3;
}
#myList{
  background-color:greenyellow;
}
#hello{
  color:orangered;
}
ol li{
 color:#cc0000;
}
.new2{
  font-style:italic;
}
.new3{
  font-weight:100;
}
#bt{
  margin:10px;
  border: 3px solid crimson;
  padding-left:15px;
}
